# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List popular languages for Data Science
* List commonly used libraries used by Data Scientists
* Show the name of some open source data science tools

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Tensorflow
2. Numpy
3. Pandas

|Data Science Tools|
-----
|RStudio|
|Pycharm|
|Scala IDE|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [7]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [8]:
200/60

3.3333333333333335

## Author

Barbara Deibys Troche Hernandez